<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Aural/Verbal Learning</title>
<link rel="stylesheet" type="text/css" href="css\style.css">
  </head>
  <body>
      <nav>
        <ul>
 <li><a href="C:\Users\Emma\Documents\development\learning with style\index.html">Home</a></li>
 <li><a href="C:\Users\Emma\Documents\development\learning with style\visual.html">Visual</a></li>
<li> <a href="C:\Users\Emma\Documents\development\learning with style\Aural.html">Verbal</a></li>
<li> <a href="C:\Users\Emma\Documents\development\learning with style\physical.html">Physical</a></li>
<li> <a href="C:\Users\Emma\Documents\development\learning with style\logical.html">Logical</a></li>
         </ul>
         <h1 class="verbal"> Aural and Verbal Learning </h1>
        </nav>
<section class="content">

<h2> Study Tips</h2>
    <p> Read a textbook aloud to yourself. Search Youtube and other video sites for songs that relate to what you are studying. Make up rhymes of your own to help you memorize information. Study your notes to a beat. Create mnenomic devices. Rewrite your notes. </p>
    </section>

<div class="subject-card">
    <h3> English </h3>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/RPoBE-E8VOc" frameborder="0" allowfullscreen></iframe>
</div>

<div class="subject-card">
    <h3> Math </h3>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/l8-bnZh8Zuc" frameborder="0" allowfullscreen></iframe>
    </div>

 <div class="subject-card">
    <h3> Science </h3>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/VgVQKCcfwnU?list=PLvFsG9gYFxY9zTBhcFmMcYa3zYfQz7P7F" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="subject-card">
    <h3> History </h3>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/3EGzHsye71c" frameborder="0" allowfullscreen></iframe>
    </div>

    </section>

  </body>
</html>
