<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Logical Learning</title>
<link rel="stylesheet" type="text/css" href="css\style.css">
  </head>
  <body>
      <nav>
        <ul>
 <li><a href="C:\Users\Emma\Documents\development\learning with style\index.html">Home</a></li>
 <li><a href="C:\Users\Emma\Documents\development\learning with style\visual.html">Visual</a></li>
<li> <a href="C:\Users\Emma\Documents\development\learning with style\Aural.html">Verbal</a></li>
<li> <a href="C:\Users\Emma\Documents\development\learning with style\physical.html">Physical</a></li>
<li> <a href="C:\Users\Emma\Documents\development\learning with style\logical.html">Logical</a></li>
         </ul>
         <h1>Logical Learning </h1>
        </nav>
<section class="content">

<h2> Study Tips</h2>
    <p> Make list. Create flow charts. Aim to understand new ideas- don't just memorize them. Organize your thoughts. Look for representations. </p>
    </section>

<div class="flow-chart">
    <img src="C:\Users\Emma\Documents\development\learning with style\images\Blank Flow Chart.jpg" alt>
</div>


    </section>

  </body>
</html>
