<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Physical Learning</title>
<link rel="stylesheet" type="text/css" href="css\style.css">
  </head>
  <body>
      <nav>
        <ul>
 <li><a href="C:\Users\Emma\Documents\development\learning with style\index.html">Home</a></li>
 <li><a href="C:\Users\Emma\Documents\development\learning with style\visual.html">Visual</a></li>
<li> <a href="C:\Users\Emma\Documents\development\learning with style\Aural.html">Verbal</a></li>
<li> <a href="C:\Users\Emma\Documents\development\learning with style\physical.html">Physical</a></li>
<li> <a href="C:\Users\Emma\Documents\development\learning with style\logical.html">Logical</a></li>
         </ul>
         <h1>Physical Learning </h1>
        </nav>
<section class="content">

<h2> Study Tips</h2>
    <p> Act out what you need to learn. Make models. Memorize information while doing activities like walking or jumping. </p>
    </section>

<div class="subject-card">
    <h3> English </h3>
    <img src="C:\Users\Emma\Documents\development\learning with style\images\scrabble-tiles.png"  alt>
    <p> Practice spelling out vocabulary words with tiles or other blocks <p>
</div>

<div class="subject-card">
    <h3> Math </h3>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/z6lL83wl31E?list=PLC20F52B96F3E8206" frameborder="0" allowfullscreen></iframe>
    <p> Fold or draw models and examples to help support solutions <p>
    </div>

 <div class="subject-card">
    <h3> Science </h3>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/SrON0nEEWmo" frameborder="0" allowfullscreen></iframe>
    <p> Find experiments to do that help you understand topics <p>
    </div>

    <div class="subject-card">
    <h3> History </h3>
    <img src="C:\Users\Emma\Documents\development\learning with style\images\lego.jpeg" alt>
    <p> Build models to help you understand concepts however detailed you want <p>
    </div>

    </section>

  </body>
</html>
