<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Visual Learning</title>
<link rel="stylesheet" type="text/css" href="css\style.css">
  </head>
  <body>
      <nav>
        <ul>
 <li><a href="C:\Users\Emma\Documents\development\learning with style\index.html">Home</a></li>
 <li><a href="C:\Users\Emma\Documents\development\learning with style\visual.html">Visual</a></li>
<li> <a href="C:\Users\Emma\Documents\development\learning with style\Aural.html">Verbal</a></li>
<li> <a href="C:\Users\Emma\Documents\development\learning with style\physical.html">Physical</a></li>
<li> <a href="C:\Users\Emma\Documents\development\learning with style\logical.html">Logical</a></li>
         </ul>
         <h1>Visual Learning </h1>
        </nav>
<section class="content">

<h2> Study Tips</h2>
    <p> Make maps to organize your thinking. Highlight and color code your notes. Draw out diagrams to help connect your ideas. Watch demonstrations. Draw pictures to help visualize information. </p>
    </section>

<div class="subject-card">
    <h3> English </h3>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/I4kz-C7GryY?list=PL8dPuuaLjXtOeEc9ME62zTfqc0h6Pe8vb" frameborder="0" allowfullscreen></iframe>
</div>

<div class="subject-card">
    <h3> Math </h3>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/D2xYjiL8yyE?list=PLC20F52B96F3E8206" frameborder="0" allowfullscreen></iframe>
    </div>

 <div class="subject-card">
    <h3> Science </h3>
    <iframe width="280" height="158" src="https://www.youtube.com/embed/NJzJKvkWWDc?list=PL7A750281106CD067" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="subject-card">
    <h3> History </h3>
    <iframe width="210" height="158" src="https://www.youtube.com/embed/RNftCCwAol0?list=PL8dPuuaLjXtMwmepBjTSG593eG7ObzO7s" frameborder="0" allowfullscreen></iframe>
    </div>

    </section>

  </body>
</html>
